@-ms-viewport{
  width: device-width;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.h1{
	text-align: center;
	margin-top: 2rem;
    color: #0D0D0D;
    font-weight: 800;
    font-family: roboto;
    font-size: 40px;
}
@media(max-width: 500px){
    .h1{
        font-weight: 700;
        font-size: 28px;
    }
}
@media(max-width: 380px){
    .h1{
        font-weight: 700;
        font-size: 24px;
    }
}
.us{
	float: left;
    width: 80px;
    border-style: none;
    margin-top: 2.5rem;
    color: #0D0D0D;
    box-shadow: none;
}
@media(max-width: 500px){
    .us{
        width: 75px;
        margin-top: 2rem;
    }
}
.ct{
    float: right;
    margin-top: 2.5rem;
    border-radius: 0px;
    border-color: #D9CDA9;
    border-width: 2px;
    width: 100px;
    font-weight: 500;
    font-family: roboto;
    color: #0D0D0D;
}
.ct:hover{
    background-color: #D9CDA9;
    color: #ffffff;
    border-color: #D9CDA9;
}
@media(max-width: 500px){
    .ct{
        margin-top: 2rem;
        font-weight: 400;
        width: 80px;
    }
}
@media(max-width: 380px){
    .ct{
        font-weight: 300;
        width: 75px;
    }
}
.navbar{
    background-color: white;
    border-style: none;
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #0D0D0D;
}
.navbar-inverse .navbar-toggle .icon-bar:hove{
    background-color: #F2F2F2;
}
.hy{
    font-size: 20px;
    opacity: 0.2;
}
@media(max-width: 760px){
    .hy{
        display: none;
    }
}
@media(max-width: 760px){
    .he1{
        margin-left: 20px;
    }
}
.navbar-collapse{
    padding: 0px;
}
.navbar-toggle{
    float: left;
    margin-left: 20px;
    border: none;
}
.navbar-inverse .navbar-nav>li>a{
    color: #0D0D0D;
    font-family: roboto;
    opacity: 0.8;
    font-weight: 400;
    font-size: 12px;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #D9CDA9;
    opacity: 1;
}
.caret{
    margin-left: 10px;
}
.t1{
    margin-right: 10px;
}
@media(max-width: 760px){
 .t1{
    margin-left: 20px;
 }
}
.navbar-inverse .btn-link{
    color: #0D0D0D;
    font-family: roboto;
    opacity: 0.8;
    font-weight: 400;
}
.navbar-inverse .btn-link:hover{
    color: #D9CDA9;
    opacity: 1;
}
.navbar-right{
    margin-top: 7px;
}
/*slider*/

.product-slider { 
    padding: 20px; 
}

.product-slider #carousel { 
    border: 4px solid #D9CDA9; 
    margin: 0; 
}

.product-slider #thumbcarousel { 
    margin: 12px 0 0;  
}

.product-slider #thumbcarousel .item { 
    text-align: center; 
}

.product-slider #thumbcarousel .item .thumb { 
    border: 4px solid #F2F2F2; 
    width: 23.5%; 
    margin: 0.4%; 
    display: inline-block; 
    vertical-align: middle; 
    cursor: pointer;  
}

.product-slider #thumbcarousel .item .thumb:hover { 
    border-color: #D9CDA9; 
}

.product-slider .item img { 
    width: 100%; 
    height: auto; 
}
.container-fluid{
    padding-top: 20px;
    padding-left: 0px;
    font-family: roboto;
}
.h2{
    margin-top: 3rem;
    font-family: roboto;
    font-weight: 450;
    color: #0D0D0D;
}
.glyphicon-star{
    margin-top: 2px;
    color: #D9CDA9;
    font-size: 18px;
}
.glyphicon-star-empty{
    color: #D9CDA9;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 2px;
}
.p1{
    color: #707070;
}
u{
    color: #000;
}
.h3{
    margin-top: 3rem;
    color: #5075BF;
    font-family: roboto;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 3rem;
}
.p2{
    color: #5075BF;
}
.p3{
    color: #707070;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.p4{
    margin-left: -20px;
    margin-bottom: 2rem;
}
.size{
    float: left;
    margin-right: 20px;
}
.color{
    width: 100px;
}
.cart{
    float: left;
}
.wish{
    float: right;
}
.end{
    width: 80%;
    float: left;
    margin-bottom: 5rem;
}